.music-player {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  grid-area: musicplayer;
}

.music-player-title h3 {
  font-size: 3.2rem;
  font-weight: 800;
}

.music-player-title p {
  color: var(--secondary-color);
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.music-player-image {
  margin-top: 2rem;
  width: 40rem;
  border-radius: 6px;
}

/* 
Progress bar
 */

.music-player-range {
  position: relative;
  margin: auto;
  background: rgb(106 95 95 / 95%);
  width: 100%;
  height: 8px;
  border-radius: 1rem;
  cursor: pointer;
}

.music-player-range:before,
.music-player-range:after {
  content: "";
  position: absolute;
  cursor: pointer;
}

.music-player-range:before {
  width: 8rem;
  height: 100%;
  background: #fff;
  border-radius: 0.25rem;
  overflow: hidden;
}

/* 
Music Controls css
 */
.music-player-buttons {
  display: flex;
}

.music-control-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-btn {
  cursor: pointer;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.play-btn:hover {
  transform: scale(1.2);
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.skip-btn {
  padding: 9px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.skip-btn:hover {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.ellipsis-btn {
  padding: 9px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.volume-btn {
  padding: 9px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
