.player-list {
  height: calc(100vh - 2rem);
  padding-top: 1.5rem;
  grid-area: playlist;
}

.player-list-searchbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.player-list-searchbar input {
  padding: 1rem 8px;
  margin-top: 4px;
  font-family: inherit;
  outline: none;
  color: var(--primary-color);
  background: var(--input-background-color);
  border: none;
  border-radius: 5px;
}

.player-list-playlist {
  cursor: pointer;
  margin-top: 2rem;
  justify-content: space-between;
}

.player-list-playlist img {
  width: 3.2rem;
  height: 3.3rem;
  border-radius: 50%;
}

.player-list-album-title p {
  color: var(--secondary-color);
  margin-top: 0.3rem;
}

.player-list-song-title {
  margin-left: 1.2rem;
}

.player-list-song-title {
  overflow: auto;
}

.song-list {
  height: 100%;
  overflow: auto;
}

.player-list-song-title::-webkit-scrollbar {
  display: none;
}

.song-list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 890px) {
  .player-list-searchbar {
    position: unset;
  }
}
