:root {
  --primary-color: #ffffff;
  --secondary-color: #99948c;
  --background-color: #1b1305;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 8px;
}

.app {
  display: grid;
  grid-template-columns: 20rem 30rem auto;
  grid-template-areas: "sidebar playlist musicplayer";
  gap: 8px;

  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background: linear-gradient(90deg, #4b3209, var(--background-color));
  color: var(--primary-color);
}

.loading-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 930px) {
  .app {
    grid-template-columns: 15rem auto;
    grid-template-areas:
      "sidebar  musicplayer"
      "playlist playlist";
  }
}

@media screen and (max-width: 767px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
